In [2]:
import pandas as pd

data=pd.read_csv('C:/Users/etokarev/OneDrive - Philip Morris International/Desktop/private/Netology/machine learning/Лекция_2/Adult.csv')
data.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

native-country
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
dtype: int64

In [11]:
sel_col=data[['hours-per-week','education','occupation']]

new_data= pd.get_dummies(sel_col, columns=['education','occupation'])
new_data.head(5)

,hours-per-week,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,education_Assoc-acdm,education_Assoc-voc,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,40,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,50,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,40,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,40,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
import

SyntaxError: invalid syntax (<ipython-input-12-d76e22c112c9>, line 1)

In [15]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(data['income'])
#le.classes_

LabelEncoder()

In [16]:
#le.transform(['<=50K', '>50K'])

In [17]:
y = pd.Series(data = le.transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [18]:
headers=new_data.columns
from  sklearn.preprocessing  import StandardScaler
obj=StandardScaler()
scale_data=obj.fit_transform(new_data)
sc=pd.DataFrame(data=scale_data)
sc.columns=headers

In [19]:
from sklearn.linear_model import  LogisticRegression
model= LogisticRegression()

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(sc,y,test_size=0.25, random_state=40)

model.fit(X_train,Y_train)
y_pred=model.predict(X_test)
model.score(X_train,Y_train)

0.788075673609784

In [25]:
model.score(X_test,Y_test)

0.7901072803210221

In [24]:
from sklearn.svm import  SVC
model2= SVC(gamma='auto')
model2.fit(X_train,Y_train)

y_pred2=model2.predict(X_test)
model.score(X_train,Y_train)

0.788075673609784

In [26]:
model2.score(X_test,Y_test)

0.7883056260748506