In [8]:
import pandas as pd
data=pd.read_html('https://fortrader.org/quotes')
data[0].head()

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  87.62       0.06          0.06        NaN
1       USDRUB Курс рубля к доллару  73.31       0.20          0.28        NaN

In [67]:
d=pd.read_csv('C:/Users/etokarev/Downloads/10._Основы_pandas/power.csv')

In [37]:
pribaltica = ['Latvia','Lithuania', 'Estonia']
power = [4,12,21]
d[d.category.isin(power) & d.country.isin(pribaltica) & (d.year>=2005) & (d.year<=2010) & (d.quantity>0)].quantity.sum()

240580.0

In [68]:
movie=pd.read_csv('C:/Users/etokarev/Downloads/ml-latest-small/ratings.csv')
dic_movie=pd.read_csv('C:/Users/etokarev/Downloads/ml-latest-small/movies.csv')

In [69]:
dic_movie[(dic_movie.movieId == movie[(movie.rating == 5)].movieId.value_counts().index[0])]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama